<!DOCTYPE html>  
<html>  
<head>  
    <title>Update record</title>  
</head>  
<body>  
    <form action = "/updatedetails" method="post">
        <table>
            <tr><td>Employee id</td><td><input type="text" name="id"></td></tr>
            <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
            <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
            <tr><td>Address</td><td><input type="text" name="address"></td></tr>  
            <tr><td><input type="submit" value="Submit"></td></tr>  
        </table>  
        </form> 
</form>  
</body>  
</html>  